*{
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --grey: #888;
    --white: #fff;
}

*, input, button {
    font-family: 'Inter', sans-serif;
}

html {
    background: var(--black);
    color: var(--grey);

    font-size: 62.5%;
}

#wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
}